
//// Webstop Branding
$webstop-blue: #0194d3;
$webstop-sans-serif: Montserrat, $font-family-sans-serif;
$webstop-serif: "Libre Baskerville", Baskerville, "Baskerville Old Face", Georgia, serif;
$webstop-monospace: "JetBrains Mono", $font-family-monospace;

