// Here we override some of Bootstrap's default styles

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $webstop-sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
