// Webstop Variables

$webstop-blue: #0194d3;
$webstop-sans-serif: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$webstop-serif: "Libre Baskerville", Baskerville, "Baskerville Old Face", Georgia, serif;
$webstop-monospace: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Here we override some of Bootstrap's default variables
$blue: $webstop-blue;
$primary: $webstop-blue;
$font-family-monospace: $webstop-monospace;
