<nav id="sidebarMenu">
  <ul class="list-unstyled">
    
    <li class="my-2">
      <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Contents </button>
      <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
        {{ range .Pages }}
        <li><a class="d-inline-flex align-items-center rounded" href="{{ .URL }}">{{ .Title }}</a></li>
      
      </ul>
    </li>
    {{ end }}
  </ul> 
</nav>