<ul class="list-unstyled sans-serif">
  <li><strong>Savings</strong>
    <ul class="list-unstyled ps-3 pb-3">
      <li>Weekly Sales</li>
      <li>Digital Coupons</li>
      <li>Gas Points</li>
    </ul>
  </li>
  <li><strong>Recipes</strong>
    <ul class="list-unstyled ps-3 pb-3">
      <li>Weekly Recipes</li>
      <li>Recipe Categories</li>
      <li>Search Recipes</li>
    </ul>
  </li>
  <li><strong>Shopping List</strong>
    <ul class="list-unstyled ps-3 pb-3">
      <li>View Shopping List</li>
      <li>Edit Shopping List</li>
      <li>Add to Shopping List</li>
    </ul>
  </li>
  <li><strong>My Account</strong>
    <ul class="list-unstyled ps-3 pb-3">
      <li>Register</li>
      <li>Login</li>
      <li>Edit Profile</li>
    </ul>
  </li>
</ul>
