<nav class="shopping-list-power-bar-toolbar toolbar justify-content-xl-center justify-content-between m-0">
  <div class="toolbar-group">
    <div class="toolbar-text-item fs-5 sans-serif"><strong>Navigation</strong></div>
  </div>
  <div class="toolbar-group btn-group d-xl-none d-inline-flex" role="group" style="border: 0;">
    <button type="button" class="btn btn-plain" style="border: 0;" data-bs-dismiss="offcanvas" data-bs-target="#public-sidenav-mobile" aria-label="Close">
      <i class="fak fa-cancel fs-4"></i>
    </button>
  </div>
</nav>

<ul class="list-unstyled sans-serif m-3">
  <li><strong>Savings</strong>
    <ul class="list-unstyled ps-3 pb-3">
      <li>Weekly Sales</li>
      <li>Digital Coupons</li>
      <li>Gas Points</li>
    </ul>
  </li>
  <li><strong>Recipes</strong>
    <ul class="list-unstyled ps-3 pb-3">
      <li>Weekly Recipes</li>
      <li>Recipe Categories</li>
      <li>Search Recipes</li>
    </ul>
  </li>
  <li><strong>Shopping List</strong>
    <ul class="list-unstyled ps-3 pb-3">
      <li>View Shopping List</li>
      <li>Edit Shopping List</li>
      <li>Add to Shopping List</li>
    </ul>
  </li>
  <li><strong>My Account</strong>
    <ul class="list-unstyled ps-3 pb-3">
      <li>Register</li>
      <li>Login</li>
      <li>Edit Profile</li>
    </ul>
  </li>
</ul>
