{{ define "main" }}
<div class="admin admin-with-sidenav {{ if (eq .Page.Params.toc true) }}admin-with-sidebar{{ end }}">
  <header class="admin-header" role="banner">
    {{ partial "docs-navbar" . }}
  </header>
  <nav class="admin-sidenav" role="navigation">
    {{ partial "docs-sidenav.html" . }}
  </nav>
  <main class="admin-page" role="main">
    <section class="docs-heading inner-shadow">
      <h1 class="docs-heading-title shadow">
        {{ .Title | markdownify }}
      </h1>
      {{ if .Page.Params.Description }}
        <p class="docs-heading-tagline">{{ .Page.Params.Description | markdownify }}</p>
      {{ end }}
    </section>
    {{ .Content }}
  </main>
  {{ if (eq .Page.Params.toc true) }}
    <aside class="admin-sidebar">
      <h4 class="border-bottom">On this page</h4>
      <div class="wsg-table-of-contents">
        {{ .TableOfContents }}
      </div>
    </aside>
  {{ end }}
  <footer class="admin-footer docs-footer" role="contentinfo">
    {{ block "footer" . }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
  </footer>
</div>
{{ end }}



