{{ define "main" }}
  <main class="index p-5">
    <p>icon List Template</p>
    <h1>{{ .Title }}</h1>
    <section class="pt-5 pb-5">
      
      <div class="container">
        <div class="row d-flex">
            {{ range .Site.Data.icons }}
          <div class="col-md-3 mb-4 ">
            <div class="card card-body card-box text-center h-100">
              <div class="title">
                <h3>{{ .name }}</h3>
              </div>
              <div class="text">
              <p><span id="icon"><i class="{{ .icon }} fa-3x"></i></span></p>
              </div>
              <p class="icon-code-snip">&#x3C;i class=&#x22;{{ .icon }}&#x22;&#x3E;&#x3C;/i&#x3E;</p>
              <input type="text" id="copyingText" />
             
              <button onclick="myFunction()">Copy code</button>
            </div>
          </div>
          {{ end }}
        </div>
      </div> 
      
     </section>  
   
  </main>
{{ end }}
