{{ define "main" }}
  <header class="admin-header" role="banner">
    {{ partial "docs-navbar" . }}
  </header>


<main>


  <section class="docs-heading inner-shadow">
    <h1 class="docs-heading-title shadow">
      {{ .Title | markdownify }}
    </h1>
    {{ if .Page.Params.Description }}
      <p class="docs-heading-tagline">{{ .Page.Params.Description | markdownify }}</p>
    {{ end }}
  </section>

  {{ if .Content}}
    <div class="container mt-5">
      {{.Content}}
    </div>
  {{ end }}

  <div class="card-deck max-width-1600 my-5 mx-auto">
    {{ range .Pages }}
      {{ if .Title }}
        <div class="card shadow min-width-270 max-width-450">
          <div class="card-body">
            <h3 class="card-title text-center"><a href="{{ .RelPermalink  }}" class="text-decoration-none">{{ .Title }}</a></h3>
            <p class="card-text">{{ .Description }}</p>
          </div>
          <div class="card-footer">
            <div class="d-grid ">
              <a href="{{ .RelPermalink  }}" class="btn btn-primary learn-more-btn"><span class="learn-more-btn-text">Learn More</span></a>
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
</main>

{{ end }}
