{{ define "main" }}
<header class="admin-header" role="banner">
  {{ partial "docs-navbar" . }}
</header>
  <section class="mt-0 mb-0 pb-0 pt-0">
    <div class="bg-title-head pt-3 pb-3 d-flex justify-content-center align-items-center inner-shadow">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-12 col-md-7 p-0 p-md-2">
            <h1 class="
                bg-light
                shadow
                text-center
                p-md-2
                mb-3
                p-1
                mb-md-3
                page-title
              ">
              {{ .Title }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main class="index p-5">

      <div class="container">
        <div class="row d-flex">
          {{ range .Pages }}
            {{ if .Title }}
              <div class="col-md-4 mb-4 ">
                <div class="card card-box h-100">
                  <div class="card-body  text-center">
                    <div class="title">
                      <h3><a href="{{ .URL }}" class="card-title">{{ .Title }}</a></h3>
                    </div>
                    <div class="text">
                      <p class="card-text">{{ .Description }}</p>
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <div class="d-grid">
                      <a href="{{ .URL }}" class="btn learn-more-btn">
                          <span class="learn-more-btn-text">Learn More</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>

  </main>
{{ end }}
