{{ define "main" }}
  <main class="index">
    <h1>{{ .Title }}</h1>
    <ul class="index-items">
      {{ range .Pages }}
      <li class="index-item">
        <p class="index-item-dates">
          <span class="index-item-created-at">{{ .Params.created_at }}</span>
          {{ with .Params.updated_at }}
          <span class="index-item-updated">
          Updated on
          <span class="index-item-updated-at">{{.}}</span>
        </span>
          {{ end }}
        </p>
        <h4 class="index-item-title"><a href="{{ .URL }}">{{ .Title }}</a></h4>
        <p class="index-item-by-line"><em>by</em> <span class="index-item-author">{{ .Params.Author }}</span></p>
        <p class="index-item-description">{{ .Description }}</p>
      </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
