{{ define "main" }}
<div class="public public-with-sidenav public-with-sidebar">
  <header class="public-header" role="banner">
    {{ block "header" . }}
    <h4>Header</h4>
    {{ end }}
  </header>
  <nav class="public-sidenav" role="navigation">
    {{ block "sidenav" . }}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">SideNAV</h4>
      </div>
    </div>
    {{ end }}
  </nav>
  <main class="public-page" role="main">
    {{ .Content }}
  </main>
  <aside class="public-sidebar" role="navigation" aria-label="Secondary">
    {{ block "sidebar" . }}
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {{ end }}
  </aside>
  <footer class="public-footer" role="contentinfo">
    {{ block "footer" . }}
      <div class="row">
        <div class="col">
          <ul>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
            <li><a href="#">Footer Link</a></li>
          </ul>
        </div>
      </div>
    {{ end }}
  </footer>
</div>

{{ end }}
