{{ define "main" }}
<div class="public public-borders public-with-sidenav public-with-sidebar">
  <header class="public-header" role="banner">
    {{ block "header" . }}
      {{ partial "layout-header.html" }}
    {{ end }}
    <nav class="public-sidenav-mobile offcanvas offcanvas-start" tabindex="-1"  id="public-sidenav-mobile" role="navigation">
      {{ partial "layout-sidenav.html" }}
    </nav>
    <aside class="public-sidebar-mobile offcanvas offcanvas-end" style="overflow-x: hidden; overflow-y: auto;" tabindex="-1" id="public-sidebar-mobile" role="navigation" aria-label="Secondary">
      {{ partial "shopping-lists/shopping-list-power-bar-example.html" . }}
    </aside>
  </header>
  <nav class="public-sidenav" role="navigation">
    {{ block "sidenav" . }}
      {{ partial "layout-sidenav.html" }}
    {{ end }}
  </nav>
  <div class="public-page">
    <main class="public-content" role="main">
      {{ .Content }}
    </main>
    <footer class="public-footer" role="contentinfo">
      {{ block "footer" . }}
        {{ partial "layout-footer.html" }}
      {{ end }}
    </footer>
  </div>

  <aside class="public-sidebar" role="navigation" aria-label="Secondary">
    {{ block "sidebar" . }}
      {{ partial "shopping-lists/shopping-list-power-bar-example.html" . }}
    {{ end }}
  </aside>

</div>



{{ end }}
