root = true

# Defaults for all file types
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown
# In Markdown two trailing spaces indicates a <br>
[*.{md,markdown}]
trim_trailing_whitespace = false
