<div class="alert alert-warning sans-serif" role="alert">
  <div class="row">
    <div class="col-auto"><i class="fa-solid fa-diamond-exclamation" style="font-size: 4rem;"></i></div>
    <div class="col">
      <strong>AJAX WARNING!</strong><br>
      Please note, Github pages doesn't allow AJAX (or fetch), so the examples on this
      page don't work properly on the public documentation website. <em>They work fine when running the local
      development server.</em>
    </div>
  </div>
</div>
