.page-title {
  font-weight: 900;
  font-size: 50px;
  border-radius: 15px; 
  box-shadow:  5px 5px 5px #777777,
             -5px -5px 5px #ffffff;
}

.bg-title-head {
  background: rgb(0,179,255);
  background: linear-gradient(90deg, rgba(0,179,255,1) 0%, rgba(19,185,255,1) 50%, rgba(0,179,255,1) 100%);

}

.docs-heading {
  margin: -1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: $blue;


  .docs-heading-title {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 700px;
    text-align: center;
    background: #fff;
    border-radius: 1rem;
  }

  .docs-heading-tagline {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
  }
}



