 /** Core Icons Grid**/

 .wsg-icon {
   min-width: 265px;
   background-clip: border-box;
   border-radius: 1rem;
   border: 0.5px solid #eee!important;
   background: #ffffff;
   box-shadow: 0 2px 4px rgba(70, 70, 70, 0.5);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   &:hover {
     transition: all 0.5s ease-out;
     box-shadow: 0px 3px 5px rgba(38, 38, 38, 0.2);
     border: 1px solid rgb(224, 224, 224);
     background-color: white;
     transform: scale(1.02);
     transform-origin: 50% 50%;
   }
 }
 .icon-code-snip {
  font-size: 10px;
}

.wsg-icon-theme {
  --fa-secondary-opacity: 1.0;
  --fa-primary-color: #000;
  --fa-secondary-color: #5fb8ff;
}

.wsg-icon-title {
  text-transform: capitalize;
}

// .list-features {
//    list-style: none;
//  }
//.wsg-icon-grid {
//position: relative;
//
//}
//
//.wsg-grid {
//position: relative;
//}
//.item {
//position: absolute;
//width: 225px;
//height: 300px;
//line-height: 200px;
//margin: 5px;
//z-index: 1;
//}
//.item.muuri-item-hidden {
//z-index: 0;
//}
//.item.muuri-item-releasing {
//z-index: 2;
//}
//.item.muuri-item-dragging {
//z-index: 3;
//}
//.item-content {
//position: relative;
//font-family: sans-serif;
//width: 100%;
//height: 100%;
//text-align: center;
//border: 1px solid #F44336;
//border-radius: 3px;
//font-size: 25px;
//color: #F44336;
//cursor: pointer;
//}
//.item.muuri-item-dragging .item-content,
//.item.muuri-item-releasing .item-content {
//background: #FFCDD2;
//}








/* Controls */

.wsg-grid-controls {
font-family: $wsg-sans-serif;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
@media (max-width: 767px) {
.wsg-grid-controls {
  flex-direction: column;
}
}
.wsg-grid-control {
display: flex;
position: relative;
width: 25%;
}
.wsg-grid-control:before {
content: '';
display: block;
position: absolute;
left: 0.5rem;
right: 0.5rem;
bottom: 0;
border-bottom: 2px solid #e1e1e1;
}
.wsg-grid-control:focus-within:before {
border-bottom: 0.7rem double #ff69ea;
}
.wsg-grid-control:after {
content: '';
display: block;
position: absolute;
left: -0.2rem;
top: 1.5rem;
bottom: 1.5rem;
border-left: 2px solid #e1e1e1;
}
.wsg-grid-control:first-child:after {
display: none;
}
@media (max-width: 767px) {
.wsg-grid-control {
  width: 100%;
}
.wsg-grid-control:after {
  display: none;
}
}

.wsg-grid-control-field {
display: block;
position: relative;
width: 100%;
height: 4rem;
padding: 0rem 1.5rem 0rem 5rem;
font-size: 1.3rem;
font-weight: 700;
line-height: 4rem;
color: #000;
background: transparent;
border: 0;
border-radius: 0;
z-index: 1;
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;
}

@media (max-width: 767px) {
.wsg-grid-control-field {
  height: 5rem;
  line-height: 3rem;
}
}
.wsg-grid-control-field::placeholder {
opacity: 1;
color: #333;
font-style: italic;
}
select.wsg-grid-control-field {
padding-right: 5rem;
cursor: pointer;
}
select.wsg-grid-control-field::-ms-expand {
display: none;
}
.wsg-grid-control-field:focus {
outline: 0;
}
.wsg-grid-control-icon,
.wsg-grid-select-arrow {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
width: 5rem;
height: 4rem;
padding: 1.5rem;
z-index: 2;
pointer-events: none;
color: #000;
}
/*
.grid-control:focus-within .grid-control-icon,
.grid-control:focus-within .grid-select-arrow {
color: rgb(101, 255, 195);
}
*/
@media (max-width: 767px) {
.wsg-grid-control-icon,
.wsg-grid-select-arrow {
  height: 5rem;
}
}
.wsg-grid-control-icon {
left: 0;
}
.wsg-grid-select-arrow {
right: 0;
padding: 1.7rem;
}
.wsg-grid-control-icon svg,
.wsg-grid-select-arrow svg {
flex-grow: 1;
}

/* Grid */

.wsg-grid {
position: relative;
max-width: 100rem;
padding-bottom: 3rem;
box-sizing: content-box;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
justify-content: center;
align-items: center;
}
.wsg-grid-item {
display: block;
position: absolute;
width: 18rem;
height: 20rem;
line-height: 1rem;
margin: 1rem;
z-index: 1;

}
.wsg-grid-item.muuri-item-positioning {
z-index: 2;
}
.wsg-grid-item.muuri-item-placeholder {
z-index: 2;
margin: 0;
opacity: 0.5;
}
.wsg-grid-item.muuri-item-dragging,
.wsg-grid-item.muuri-item-releasing {
z-index: 9999;
}
.wsg-grid-item.muuri-item-dragging {
cursor: move;
}
.wsg-grid-item.muuri-item-hidden {
z-index: 0;
}

.icon-code-snip {
 font-size: 12px!important;
}
.wsg-grid-item-content {
position: relative;

justify-content: center;
align-items: center;
}
.wsg-grid-card {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
text-align: center;
font-size: 2.4rem;
font-weight: 700;
border: 0.3rem solid #eee;
border-radius: 2rem;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}

.wsg-grid-card-handle {
display: none;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
cursor: move;
}
.wsg-grid.drag-enabled .grid-card-handle {
display: block;
}
.wsg-grid-card-title {
display: block;
justify-content: center;
align-items: center;
border-radius: 2rem;
padding-top: 5px;
}

.wsg-grid-card-details {
justify-content: left;
display: block;
size: 10px;
}



/* Grid Footer */

.wsg-grid-footer {
display: flex;
justify-content: center;
position: absolute;
left: 50%;
bottom: -3.5rem;
transform: translateX(-50%);
z-index: 2;
}




/* Icon Examples */

.icon-example {
  max-width: 350px;
  //@include media-breakpoint-up(sm) {
  //  max-width: 25%;
  //}
  //@include media-breakpoint-up(md) {
  //  max-width: 15%;
  //}
  //@include media-breakpoint-up(lg) {
  //  max-width: 10%;
  //}
  //@include media-breakpoint-up(xl) {
  //  max-width: 250px;
  //}
}


