/* CSS Customizations done by Mickey*/


/* ADMIN LAYOUT */

.admin .admin-sidenav {
  border-right: 0px solid #ccc;
  background-color: $wsg-gray;
}

.admin .admin-sidebar {
  border-left: 0 solid #bacad9;
  background-color: $wsg-gray-100;
}

/* END ADMIN LAYOUT */


.wsg-sidebar {
  font-family: $wsg-sans-serif;
  font-size: 16px;
  opacity: 0.95;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  overflow-y: auto;
  order: 0;
  background-color: #fff;
  //background-color: #f5f2f9;
  border-bottom: 1px solid rgba(0,0,0,.1);


  }

/* Code Examples */

.highlight {
  margin-bottom: $spacer;
  position: relative;
  white-space:nowrap;
  overflow: hidden;
  overflow-y: auto;
}

.chroma {
  margin: 0;
  background-color: #333;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: visible;
}

.bd-clipboard {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
}

.icon-code-snip {
  font-size: 10px;
}
/*
  .bd-clipboard {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
*/

  /** Docs template layout stuff */ 

 .wsg-left-nav {
   padding-right: 0px;
   padding-left: 0px;
 } 
.wsg-left-nav-link {
  border-bottom: 1px solid #e5e5e5;
}
.wsg-left-nav-active {

  background-color: #e5e5e5;
}

/** Examples and Highlights **/
 
.bd-example-container {
  min-width: 16rem;
  max-width: 25rem;
  margin-right: auto;
  margin-left: auto;
}

.bd-example-container-header {
  height: 3rem;
  margin-bottom: .5rem;
  background-color: lighten($wsg-primary, 25%);
  border-radius: 0.75rem; 
}

.bd-example-container-sidebar {
  float: right;
  width: 4rem;
  height: 8rem;
  background-color: lighten($wsg-primary, 50%);
  border-radius: 0.75rem; 
}

.bd-example-container-body {
  height: 8rem;
  margin-right: 4.5rem;
  background-color: lighten(purple, 25%);
  border-radius: 0.75rem; 
}

.bd-example-container-fluid {
  max-width: none;
}

  .example {
    font-family:  $wsg-sans-serif;
    letter-spacing: .20px;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.5px;
    border-radius: 0.75rem; 
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 99;
  }


pre {
    display: block;
    margin-top: .5rem;
    margin-bottom: .50rem;
    overflow: auto;
    font-size: 0.875em;
}
  
  .on-page {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    overflow-y: auto; 
  }


  .wsg-table-of-contents {
    font-family:  $wsg-sans-serif;
  }

 .wsg-table-of-contents, ul, li {
    list-style-type: none;
    text-decoration: none;
  }

 .wsg-table-of-contents, a {
    list-style-type: none;
    text-decoration: none;
    color: #333;
  }

 .wsg-table-of-contents, ul {
    padding-left: 2px;
  }

  .wsg-table-of-contents, li {
    padding-left: 8px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border:1px solid #dbdbdb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 50px;
   
  }

  
  th, td {
    text-align: left;
    padding: 10px;
    border:1px solid #dbdbdb;
  }
