.wsg-sidebar {
  font-family: $wsg-sans-serif;
  font-size: 16px;
  opacity: 0.95;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  overflow-y: auto;
  order: 0;
  background-color: #fff;
  //background-color: #f5f2f9;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
  
.wsg-left-nav {
  padding-right: 0px;
  padding-left: 0px;
}
.wsg-left-nav-link {
 border-bottom: 1px solid #e5e5e5;
}
.wsg-left-nav-active {
 background-color: #e5e5e5;
}