.coupon-items {
  padding-right: calc(#{$grid-gutter-width}/2);
  .col-12 {
    padding-right: 0;
  }
  @include media-breakpoint-up(sm) {
    & {
      padding-right: 0;
      .col-12 {
        padding-right: calc(#{$grid-gutter-width}/2);
      }
    }
  }
}

.coupon-item {
  position: relative;
  &.card {
    margin-right: 0;
  }

  .coupon-item-badges {
    position: absolute;
    top: -15px;
    left: calc(#{$grid-gutter-width}/2);
  }

  @include media-breakpoint-up(sm) {
    &.card {
      padding-left: 0px;
      padding-right: 0px;
      margin-right: calc(#{$grid-gutter-width}/2);
      margin-bottom: calc(#{$grid-gutter-width}/2);
      margin-left: calc(#{$grid-gutter-width}/2);
      margin-top: calc(#{$grid-gutter-width}/2);
    }
  }

  // Remove margins when inside card-flipper (grid handles spacing)
  .card-flipper & {
    margin: 0;
    max-width: none;
    min-width: 0;
  }

  &.coupon-item-max {
    width: $circular-max-column-width;
  }

  &.coupon-item-avg {
    width: calc(#{$circular-min-column-width} + (#{$circular-max-column-width} - #{$circular-min-column-width})/2);
  }

  &.coupon-item-min {
    width: $circular-min-column-width;
  }

  &.coupon-item-paper-coupon {
    border-style: dashed;
    border-color: $primary;
    border-width: 2px;
  }

}
