// Text


// Utilities
//.text-left {
//  text-align: left !important;
//}
//
//.text-right {
//  text-align: right !important;
//}

.text-faux {
  color: #999;
  padding: 0.3em;
  font-size: 0.4em; // 0.3 + 0.3 + 0.4 = 1
  background-color: #ccc;
  opacity: 0.5;
}

// Bootstrap Colors
.text-blue   { color: $blue }
.text-indigo { color: $indigo }
.text-purple { color: $purple }
.text-pink   { color: $pink }
.text-red    { color: $red }
.text-orange { color: $orange }
.text-yellow { color: $yellow }
.text-green  { color: $green }
.text-teal   { color: $teal }
.text-cyan   { color: $cyan }

// Product Text
.text-circular      { color: $circular; }
.text-coupon        { color: $coupon; }
.text-recipe        { color: $recipe; }
.text-shopping-list { color: $shopping-list; }
