// Text

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-faux {
  color: #999;
  padding: 0.3em;
  font-size: 0.4em; // 0.3 + 0.3 + 0.4 = 1
  background-color: #ccc;
  opacity: 0.5;
}
