<article class="shadow coupon-item coupon-item-standard card card-standard h-100" id="coupon-item-1">
  <img src="/assets/images/circular-items/dove_standard_coupon.jpg" alt="Picture of Offer Products" class="coupon-item-image img-fluid">
  <div class="coupon-item-body card-body">
    <h3 class="coupon-item-title">Save $1.00</h3>
    <p class="coupon-item-description">on any ONE (1) Dove Body Wash (22 oz. or larger) or Shower Foam (13.5 oz.) (excludes trial and travel sizes and Dove Men+Care)</p>
    <p class="coupon-item-expiration-date text-muted">Expires: 10/30/2020</p>

    <p class="coupon-item-recipe">
      <span class="coupon-item-recipe-label">Recipe:</span>
      <a href="http://www.topsmarkets.com/Recipes/Detail/7417/Amaize_Sweet_Corn_Summer_Spreads/" class="coupon-item-recipe-title-link">
        Clean and Refreshing Soap Soup!
      </a>
    </p>
  </div>
  <div class="coupon-item-footer card-footer">
    {{ partial "shopping-lists/shopping-list-add-coupon-form-mini-example" }}
  </div>
</article>
