{{ $category := (.Get 0) }}

<section class="wsg-icons card-deck">
  {{ range .Site.Data.icons }}
    {{ if in .category $category }}
      <div class="wsg-icon card max-width-360 min-width-270 mb-4 shadow">
        <!-- This hidden element is hear to allow search on terms beyond the text displayed in the card. -->
        <span class="visually-hidden">{{ .search }}</span>
        <div class="card-body text-center">
          <i class="wsg-icon-example {{ .style }} {{ .icon }} wsg-icon-theme fa-3x"></i>
          <i class="wsg-icon-example {{ .style }} {{ .icon }} wsg-icon-theme ms-2"></i>
          <h3 class="wsg-icon-title card-title">{{ .name }}</h3>
    <!--      <code class="icon-example-code code">&#x3C;i class=&#x22;{{ .style }} {{ .icon }}&#x22;&#x3E;&#x3C;/i&#x3E;</code>-->
          <code class="icon-example-code code">{{ .style }} {{ .icon }}</code>
<!--          <h5>Examples</h5>-->
<!--          <div class="row gx-2">-->
<!--            <div class="col">-->
<!--              <p class="btn btn-outline-secondary d-block">-->
<!--                <i class="wsg-icon-example {{ .style }} {{ .icon }}"></i> Text-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <p class="">-->
<!--                <i class="wsg-icon-example {{ .style }} {{ .icon }}"></i> Text-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <p class="btn btn-secondary d-block">-->
<!--                <i class="wsg-icon-example {{ .style }} {{ .icon }}"></i> Text-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

        </div>
        <div class="card-footer wsg-card-footer">
          <div class="btn btn-outline-primary wsg-btn-outline-primary d-block mb-3" data-bs-toggle="modal" data-bs-target="#{{ .icon }}-modal">
            View {{ if .note }} Notes &amp; {{ end }} Examples
          </div>
          <div class="row gx-2">
            <div class="col">
              <div><!-- this div needs to be here for the copy script to work -->
                <p class="btn btn-primary d-block mb-0 text-nowrap" data-clipboard-text="&#x3C;i class=&#x22;{{ .style }} {{ .icon }}&#x22;&#x3E;&#x3C;/i&#x3E;" data-bs-original-title="Copy HTML Tag to Clipboard">Copy HTML</p>
              </div>
              <span class="icon-example-clipboard-code visually-hidden">&#x3C;i class=&#x22;{{ .style }} {{ .icon }}&#x22;&#x3E;&#x3C;/i&#x3E;</span>
            </div>
            <div class="col">
              <div><!-- this div needs to be here for the copy script to work -->
                <p class="btn btn-primary d-block mb-0 text-nowrap" data-clipboard-text="{{ .style }} {{ .icon }}" data-bs-original-title="Copy CSS Class to Clipboard">Copy CSS</p>
              </div>
              <span class="icon-example-clipboard-code visually-hidden">{{ .style }} {{ .icon }}</span>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  {{ end }}
</section>


{{ range .Site.Data.icons }}
  {{ if in .category $category }}
      <div class="modal fade" id="{{ .icon }}-modal" tabindex="-1" aria-labelledby="{{ .icon }}-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="{{ .icon }}-modal-label">{{ .name }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <i class="wsg-icon-example {{ .style }} {{ .icon }} fa-3x"></i>
                <i class="wsg-icon-example {{ .style }} {{ .icon }} ms-3"></i>
                <p><code class="icon-example-code code">&#x3C;i class=&#x22;{{ .style }} {{ .icon }}&#x22;&#x3E;&#x3C;/i&#x3E;</code></p>
                <p><code class="icon-example-code code">{{ .style }} {{ .icon }}</code></p>
              </div>
              {{ if .note }}<p><strong>{{ .note }}</strong></p>{{ end }}
              <h5 class="mt-4">Examples</h5>
              <div class="row">
                <div class="col">
                  <p class="btn btn-outline-secondary d-block text-start">
                    <i class="{{ .style }} {{ .icon }}"></i> Example
                  </p>
                </div>
                <div class="col">
                  <p>
                    <i class="{{ .style }} {{ .icon }}"></i> Example
                  </p>
                </div>
                <div class="col">
                  <p class="btn btn-secondary d-block text-start">
                    <i class="{{ .style }} {{ .icon }}"></i> Example
                  </p>
                </div>
              </div>


              <div class="row">
                <div class="col">
                  <p class="btn btn-outline-secondary d-block text-start">
                    <i class="fa-duotone {{ .icon }}"></i> duotone
                  </p>
                </div>
                <div class="col">
                  <p class="">
                    <i class="fa-duotone {{ .icon }}"></i> duotone
                  </p>
                </div>
                <div class="col">
                  <p class="btn btn-secondary d-block text-start">
                    <i class="fa-duotone {{ .icon }}"></i> duotone
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="btn btn-outline-secondary d-block text-start">
                    <i class="fa-solid {{ .icon }}"></i> solid
                  </p>
                </div>
                <div class="col">
                  <p class="">
                    <i class="fa-solid {{ .icon }}"></i> solid
                  </p>
                </div>
                <div class="col">
                  <p class="btn btn-secondary d-block text-start">
                    <i class="fa-solid {{ .icon }}"></i> solid
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="btn btn-outline-secondary d-block text-start">
                    <i class="fa-regular {{ .icon }}"></i> regular
                  </p>
                </div>
                <div class="col">
                  <p class="">
                    <i class="fa-regular {{ .icon }}"></i> regular
                  </p>
                </div>
                <div class="col">
                  <p class="btn btn-secondary d-block text-start">
                    <i class="fa-regular {{ .icon }}"></i> regular
                  </p>
                </div>
              </div>
              <p>Search Terms: <small class="text-muted">{{ .search }}</small></p>
              <p>Categories: <small class="text-muted text-uppercase">{{ delimit .category ", " }}</small></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary ms-3" data-bs-dismiss="modal">
                <i class="fa-solid fa-circle-xmark"></i> Close
              </button>
            </div>
          </div>
        </div>
      </div>
  {{ end }}
{{ end }}
