.public {
  grid-template-columns: auto;
  grid-template-rows: auto;
  display: grid;
  grid-template-areas:
    "public-header"
    "public-page"
    "public-footer";
  //height: 100vh;
  overflow-x: hidden;

  .public-header  { grid-area: public-header;  overflow: visible; }
  .public-sidecar { grid-area: public-sidecar; overflow-x: auto;  }
  .public-sidenav { grid-area: public-sidenav; overflow-x: auto;  }
  .public-page    { grid-area: public-page;    overflow-x: auto;  }
  .public-sidebar { grid-area: public-sidebar; overflow-x: auto;  }
  .public-footer  { grid-area: public-footer;  overflow: visible;  }

  // Layout with Sidecar
  &.public-with-sidecar {
    grid-template-columns: $public-sidecar-width auto;
    grid-template-areas:
      "public-header  public-header"
      "public-sidecar public-page"
      "public-sidecar public-footer";
  }

  // Layout with Sidenav
  &.public-with-sidenav {
    grid-template-columns: $public-sidenav-width auto;
    grid-template-areas:
      "public-header  public-header"
      "public-sidenav public-page"
      "public-sidenav public-footer";
  }

  // Layout with Sidebar
  &.public-with-sidebar {
    grid-template-columns: auto $public-sidebar-width;
    grid-template-areas:
      "public-header public-header"
      "public-page   public-sidebar"
      "public-footer public-sidebar";
  }


  // Layout with Sidecar & Sidenav
  &.public-with-sidecar.public-with-sidenav {
    grid-template-columns: $public-sidecar-width $public-sidenav-width auto;
    grid-template-areas:
      "public-header  public-header public-header"
      "public-sidecar public-sidenav public-page"
      "public-sidecar public-sidenav public-footer";
  }

  // Layout with Sidecar & Sidebar
  &.public-with-sidecar.public-with-sidebar {
    grid-template-columns: $public-sidecar-width auto $public-sidebar-width;
    grid-template-areas:
      "public-header  public-header public-header"
      "public-sidecar public-page   public-sidebar"
      "public-sidecar public-footer public-sidebar";
  }

  // Layout with Sidenav & Sidebar
  &.public-with-sidenav.public-with-sidebar {
    grid-template-columns: $public-sidenav-width auto $public-sidebar-width;
    grid-template-areas:
      "public-header  public-header public-header"
      "public-sidenav public-page   public-sidebar"
      "public-sidenav public-footer public-sidebar";
  }

  // Layout with Sidecar, Sidenav, & Sidebar
  &.public-with-sidecar.public-with-sidenav.public-with-sidebar {
    grid-template-columns: $public-sidecar-width $public-sidenav-width auto $public-sidebar-width;
    grid-template-areas:
      "public-header  public-header  public-header public-header"
      "public-sidecar public-sidenav public-page   public-sidebar"
      "public-sidecar public-sidenav public-footer public-sidebar";
  }

  // Padding
  .public-sidenav, .public-page, .public-sidebar {
    padding: $public-spacer-y $public-spacer-x;
  }
  .public-sidecar {
    padding: $public-spacer-y 0;
  }
  .public-footer {
    padding: calc($public-spacer-y/2) 0 0 $public-spacer-x ;
  }

  // Colors
  .public-sidecar {
    border-right: $public-sidecar-border-size solid $public-sidecar-border-color;
    background-color: $public-sidecar-bg-color;
    color: $public-sidecar-color;
  }

  .public-sidecar-item {
    color: $public-sidecar-color;
  }

  .public-sidenav {
    border-right: $public-sidenav-border-size solid $public-sidenav-border-color;
    background-color: $public-sidenav-bg-color;
  }

  .public-sidebar {
    border-left: $public-sidebar-border-size solid $public-sidebar-border-color;
    background-color: $public-sidebar-bg-color;
  }

  .public-footer {
    border-top: $public-footer-border-size solid $public-footer-border-color;
    background-color: $public-footer-bg-color;
  }

  // Height
  .sidecar, .public-sidenav, .public-sidebar {
    height: 100vh;
  }

  // Special Page Views
  .public-table-view,
  .public-list-view {
    padding: 0;
  }

  .public-table-view {
    overflow: visible;
  }

  // consider using Bootstrap utility .p-0 instead
  .public-page-flush {
    padding: 0;
  }

}
