    <div class="shopping-list-item">
      <form action="/shopping_list/add/circular_item/[self->id]/qty/" class="shopping-list-item-form">
        <div class="row justify-content-end">
          <div class="shopping-list-item-qty-col col-12 col-sm">
            <div class="shopping-list-item-qty-group input-group ">

              <span class="shopping-list-item-qty-label input-group-text" id="shopping-list-qty-label-1">Qty</span>
              <input type="text" name="Qty" value="12" maxlength="2" class="shopping-list-item-qty form-control" placeholder="01" id="shopping-list-item-qty-1" aria-label="Username" aria-describedby="shopping-list-qty-label-1">
            </div>
          </div>
          <div class="shopping-list-item-btn-col col-12 col-sm-auto">
            <button type="submit" class="shopping-list-item-btn btn btn-primary btn-block btn-sm-inline-block">
              <i class="fak fa-add-circle"></i>
              <span class="d-inline d-sm-none">Add to</span>
              <span class="d-none d-sm-inline"><span class="sr-only">Add to </span>Shopping</span>
              List
            </button>
          </div>
        </div>
      </form>
    </div>
